.about__image {
  opacity: 0;
  transform: translateX(175px);
}

.about__first-part .about__image {
  transform: translateX(175px);
}

.about__second-part .about__image {
  transform: translateX(-175px);
}