.looks__image-container {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.looks__image-container img {
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.looks__image-container .show {
  opacity: 1;
}