.header__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 1439px) {
    min-height: 646px;
  }

  @media screen and (max-width: 767px) {
    min-height: 426px;
  }
}