.footer__checkbox-label {
  position: relative;
  padding-left: 25px; /* Расстояние между изображением и текстом */
  cursor: pointer;
}

.footer__checkbox-label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}