.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  background-color: $black;
  padding: 20px;
  min-height: 100vh;
  margin-right: auto;

  @media screen and (max-width: 1439px) {
    max-width: 460px;
  }

  @media screen and (max-width: 767px) {
    width: 320px;
    max-width: 320px;
    padding: 0;
  }
}