.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  background-color: $black;
  padding: 20px;
  min-height: 860px;
  margin-right: auto;

  @media screen and (max-width: 1439px) {
    min-height: 790px;
    max-width: 460px;
  }

  @media screen and (max-width: 767px) {
    width: 320px;
    min-height: 360px;
    max-width: 320px;
    padding: 0;
  }
}