.header__button_subscribe {
  color: $white;
  background-color: $black;
  padding: 12px 30.5px;
  text-decoration: none;

  // &:hover {
  //   color: $black;
  //   background-color: $white;
  //   transition: color, background-color 0.2s ease-in-out;
  // }
}
