// Colors

$black: #0A0A0A;
$white: #FFFFFF;
$grey: #666666;
$light-grey: #E7E7E2;

// Fonts

$base-font-family: 'Prompt', Arial, sans-serif;
// Weights
$font-weight-regular: 400;
$font-weight-medium: 500;





// Animations

// Cards
$card-animation-delay: 300ms;
$card-animation-duration: 1s;
// Text and images in about section 
$about-animation-duration: 300ms;