.section__title {
  @include headline;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black;
  width: 50%;
  margin: 0;
}

.looks .section__title {
  padding-bottom: 40px;

  @media screen and (max-width: 767px) {
  padding-bottom: 20px;
  }
}