.header {
  max-height: 900px;
  background-color: $light-grey;

  @media screen and (max-widht: 1439px) {
    min-height: 646px;
  }

  @media screen and (max-width: 767px) {
    min-height: 426px;
  }
}