.menu__button {
  background-image: url(./../images/cross-icon.svg);
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: $black;
  padding: 0;
  position: relative;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
  }

  @media screen and (max-width: 767px) {
    max-height: 24px;
    max-width: 24px;
    left: 20px;
    top: 20px;
  }
}